/* body {
    height: 100vh;
    background:#111;
    text-align: center;

}
canvas {
    border: 1px solid skyblue;
    width: 400px;
    height: 400px;
} */
p , h1 {
    font-size: 2.5rem;
    color: #ddd;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    transition: 1s;
}
p:hover , h1:hover  , footer:hover{
    color: black;
    text-shadow: 1px 1px 30px pink;
}
footer {
    margin-top: -10px;
    color: #eff;
    font-family: monospace;
    transition: 1s;
    
}
footer a {
    cursor: pointer;
    color: aquamarine;
}
footer a:hover {
    color: black;
}